body {
    background: linear-gradient(135deg, navy, rgb(61, 224, 7));
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.container {
    background-color: white;
    word-wrap: break-word;
    width: 500px;
    max-width: 450px;
    min-height: 600px;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgb(106, 174, 5);
}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.inputfield {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputfield input {
    width: 80%;
    padding: 10px;
    outline: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid gray;
    font-size: 15px;
    background-color: rgb(250, 245, 245);
}

.inputfield .add {
    outline: none;
    padding: 10px;
    background-color: orangered;
    color: white;
    width: 20%;
    font-size: 15px;
    border: 1px solid gray;
    font-weight: bold;
    margin-left: -40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.TODO {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.TodoItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: blue;
    font-size: 18px;
    word-break: break-word; /* Handle unbroken long strings */
}

.TodoItems::before {
    content: '';
    display: inline-block;
    background-image: url(../src/assets/tick.png);
    background-size: cover;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-left: 10px;
    flex-shrink: 0;
}

.TODO img {
    width: 20px;
    height: 20px;
}

.TodoItems.completed {
    text-decoration: line-through;
    text-decoration-color: orangered;
}

/* mobile responsive*/
@media screen and (max-width: 768px) {
    body {
        background: navy;
    }

    .container {
        width: 350px;
    }
}